<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <title>Incomes page</title>
</head>
<body>
<div class="container-error" th:if="${message != null}">
    <button class="admin-page-search-button_close" onclick="hideError(this)">X</button>
    <div><span th:text="${message}"></span></div>
</div>
<div class="replace_header" th:replace="~{header :: header}"></div>
<table class="table">
    <tbody>
    <tr th:if="${income.getRelevant()}">
        <td colspan="2">Активный сбор.</td>
    </tr>
    <tr>
        <td>Сбор средств для: </td>
        <td>
            <th:block th:each="animal,iter : ${animals}">
                <span th:text="*{animal.getName()}"></span>
            </th:block>
        </td>
    </tr>
    <tr>
        <td>На что сбор: </td><td th:text="*{income.getDescription()}">...</td>
    </tr>
    <tr>
        <td>Цель: </td><td th:text="*{income.getRequiredAmount() + ' BYN'}">...</td>
    </tr>
    <tr>
        <td>Cбор открыт: </td><td th:text="*{income.getCreated()}">...</td>
    </tr>
    <tr>
        <td>Тип сбора: </td><td th:text="*{income.getIncomeType().getName()}">...</td>
    </tr>
    <tr>
        <td>Кто открыл сбор: </td><td th:text="*{income.getUser().getFirstName() + ' ' + income.getUser().getLastName()}">...</td>
    </tr>
    </tbody>
</table>
<div th:replace="~{footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>