<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
  <title>Admin page</title>
</head>
<body>
<div class="admin-page-search-container" id="admin-page-search-container_users">
  <div th:replace="~{admin-users-search :: admin-user-search}"></div>
</div>
<div class="replace_header" th:replace="~{header :: header}"></div>
<div th:replace="~{admin-menu :: admin-menu}"></div>
<div class="main-container_users">
  <table class="table">
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Активация</th>
      <th>Статус</th>
      <th>Почта</th>
      <th>Добавлен</th>
      <th>Обновлен</th>
      <th>Сборы</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="*{user.getFirstName()}">...</td>
      <td th:text="*{user.getLastName()}">...</td>
      <td>
        <span th:if="${user.getActivated()}">Да</span>
        <span th:unless="${user.getActivated()}">Нет</span>
      </td>
      <td th:text="*{user.getRole().getName()}">...</td>
      <td th:text="*{user.getEmail()}">...</td>
      <td th:text="*{user.getDateCrated()}">...</td>
      <td th:text="*{user.getDateUpdated()}">...</td>
      <td>
        <a th:unless="${user.getIncomes() == null}" th:href="@{/admin/users}">Да</a>
        <span th:if="${user.getIncomes() == null}">Нет</span>
      </td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:replace="~{footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>