<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <link href="../../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
  <title>Animals page</title>
</head>
<body>
<div class="replace_header" th:replace="~{header :: header}"></div>
<div class="container-error" th:if="${message != null}">
  <button class="admin-page-search-button_close" onclick="hideError(this)">X</button>
  <div><span th:text="${message}"></span></div>
</div>
<div class="main-container_animals">
  <table class="table">
    <col/>
    <thead>
    <tr sec:authorize="isAuthenticated()">
      <td colspan="15" th:if="${authorized.getActivated()}">
        <a th:href="@{/user/add-animal}">Добавить животное</a>
      </td>
      <td colspan="15" th:unless="${authorized.getActivated()}">
        Что бы добавлять животных, вам надо подтвердить почту.
      </td>
    </tr>
    <tr>
      <th></th>
      <th>Кличка</th>
      <th>Куратор</th>
      <th>Возраст (мес.)</th>
      <th>Пол</th>
      <th>Высота в холке (см)</th>
      <th>Стер/костр</th>
      <th>Вакцина</th>
      <th>Описание</th>
      <th>Чип</th>
      <th>Тип</th>
      <th>Добавлен(а)</th>
      <th>Сборы</th>
      <th class="table_edit-icon"></th>
      <th class="table_edit-icon"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
      <td><a th:href="*{'/id/' + animal.getId}"><img th:src="*{animal.getPhoto()}" th:alt="animal"></a></td>
      <td th:text="*{animal.getName()}">...</td>
      <td th:text="*{animal.getUser().getFirstName() + ' ' + animal.getUser().getLastName()}">...</td>
      <td th:text="*{animal.getAge()}">...</td>
      <td th:text="*{animal.getGenderTitle()}">...</td>
      <td th:text="*{animal.getHeight()}">...</td>
      <td>
        <span th:if="${animal.getSterilization()}">Да</span>
        <span th:unless="${animal.getSterilization()}">Нет</span>
      </td>
      <td>
        <span th:if="${animal.getVaccinated() != null}" th:text="*{animal.getDateVaccinated()}">Да</span>
        <span th:unless="${animal.getVaccinated() != null}">Нет</span>
      </td>
      <td>
        <div class="main-container_animals-full-description">
          <span th:text="${animal.getDescription().length() >= 500 ? (animal.getDescription().substring(0, 499)  + '...') : animal.getDescription()}"></span>
        </div>
        <span th:text="${animal.getDescription().length() >= 40 ? (animal.getDescription().substring(0, 39)  + '...') : animal.getDescription()}"></span>
      </td>
      <td>
        <span th:if="${animal.getChipped()}">Да</span>
        <span th:unless="${animal.getChipped()}">Нет</span>
      </td>
      <td th:text="*{animal.getAnimalType().getTitle()}">...</td>
      <td th:text="*{animal.getCreated()}">...</td>
      <td>
        <a th:if="${animal.getIncome() != null}" th:href="@{/admin/donations/(*{animal.getId()})}">Да</a>
        <span th:unless="${animal.getIncome() != null}">Нет</span>
      </td>
      <td><a th:href="@{/user/animal/edit}"><img class="icon" th:src="@{/img/icons/edit.png}" th:alt="edit"></a></td>
      <td>
        <div class="container-confirm_main">
          <button class="btn_show_container-confirm" onclick="showConfirm(this)"><img class="icon" th:src="@{/img/icons/delete.png}" th:alt="delete"></button>
          <div class="container-confirm">
            <div class="container-confirm_info">
              <h2>Удаление "<span th:text="*{animal.getName()}"></span>"</h2>
              <h3>Вы уверены?</h3>
            </div>
            <a class="a_btn_type1" th:href="*{'/user/delete-animal?id=' + animal.getId}">Удалить</a>
            <button class="a_btn_type1" onclick="hideError(this)">Отмена</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:replace="~{footer :: footer}"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>