*{
    transition-duration: 300ms;
    padding: 0;
    margin: 0;
}
img{
    border-radius: 5px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

.table col{
    width: 105px;
}

.table tbody tr td:first-child{
    padding: 2px;
}
.table tbody tr td:first-child img{
    width: 100px;
}
.table tbody tr td:first-child img:hover{
    z-index: 3;
    width: 250px;
}
.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #F7F7F7;
}
/*-------------------------------index page-----------------------------------------*/
.main-container_animals .a_btn_type1{
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
/*-------------------------------table list button---------------------------------*/
.main-container_menu{
    flex: 1 0 auto;
    display: flex;
}
.footer {
    flex: 0 0 auto;
}
.main-container_menu text, .main-container_menu a{
    cursor: pointer;
    user-select: none;
}
.a_btn_type1{
    font-family: «Times New Roman», Times, serif;
    font-size: 13px;
    font-weight: 700;
    background-color: white;
    border: 3px double #eeeeee;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: -webkit-fill-available;
}
.a_btn_type1:hover{
    background-color: gray;
    color: black;
}
.a_btn_type1:active{
    background-color: black;
    color: white;
}
.a_btn_type2{
    text-decoration: none;
    color: black;
    border: 1px solid #eeeeee;
    padding: 2px 10px;
}
.a_btn_type2:hover{
    background-color: gray;
    color: black;
}
.a_btn_type2:active{
    background-color: black;
    color: white;
}
/*------------------------------droplist----------------------------------*/
.admin-menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: auto;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}
.menu-item{
    width: 200px;
    height: 30px;
    background-color: white;
    border: 2px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-item > p, .menu-item_drop > p, .menu-item > a, .menu-item_drop > a {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: black;
}
.menu-item_drop{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 32px;
    display: none;
}
.menu-item_slide{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 202px;
    display: none;
}
.menu-item:hover{
    background-color: gray;
}
.menu-item:nth-child(1):hover > .menu-item_drop{
    display: block;
}
.menu-item:nth-child(2):hover > .menu-item_drop{
    display: block;
}
.menu-item:nth-child(1):hover > .menu-item_slide{
     display: block;
 }
.menu-item:nth-child(3):hover > .menu-item_drop{
    display: block;
}
.main-container_animals-full-description{
    position: fixed;
    z-index: 3;
    width: 30px;
    height: 20px;
    display: none;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.table tbody tr td:nth-child(9):hover > div{
    transition-duration: 100ms;
    display: block;
    width: 300px;
    height: 260px;
}
/*--------------------------search container replacement---------------------------*/
.admin-page-search-container{
    display: none;
    z-index: 4;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 500px;
    height: 200px;
    position: absolute;
}
.admin-page-search-button_close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
input[type="number"]{
    width: 25px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


